@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');




body{
    background-color:whitesmoke;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Nunito', sans-serif;
}
.navigation{
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
  
}
.main-nav{
    display: flex;
    padding: 30px;
   
    justify-content: center;
    background-color: #fff;
    width: 95%;
    height: 30px;
    position: fixed;
    box-shadow: 0px 2px 0px #FEFCF3;
    
    
    
}
.navigation img{
    float: left;
}




.navigation  ul li{
     display: inline;
     margin: 20px;
     font-family: na;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 12px;
     color: #000;
     
}
.checkbtn{
    font-size: 30px;
    color: dimgray;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#home{
    color: cadetblue;
}
.navigation ul li:hover{
    color:cadetblue;
    
}
.socialmedia-logo img:hover{
    cursor: context-menu;
}
.navigation a{
    text-decoration: none;
}
 .main-nav .logo-img{
    position: absolute;
    left: 100px;
    
    
 }
 .socialmedia-logo{
    display: inline-block;
    position: absolute;
    right: 100px;
    padding: 20px;
    
 }
 
   
 socialmedia-logo img{
  text-decoration: none;
  
    
    
 }
 #imglogo1{
    margin: 5px;
    
    
 }
 #imglogo2{
    margin: 5px;
 }
 #logo{
    border-radius: 50px;
    height: 70;
    border: 1px #000 solid;
 }
 .mainclass{
    display: flex;
    justify-content: space-evenly;
    padding-top: 160px;
    align-items: center;
    padding-bottom: 20px;
 }
 #imgporfo{
    border-radius: 150px;
 }
 .paragraph-main{
    padding: 25px;
 }
 .btnclass{
    padding: 25px;
    
 }
 .btnclass button{
    margin: 5px;
   

 }
 .btnclass a{
    text-decoration: none;
 }
 button{
    height: 50px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
   border: 1px solid cadetblue;
   font-size: 13px;
   letter-spacing: 0.7px;
   cursor: pointer;
   transition:all 0.3s;
 }
#btn-project{
    background-color: cadetblue;
    color: #fff;
    
}
#btn-contact{
    background-color: #fff;
    color: cadetblue;
}
#btn-project:hover{
    background-color: #fff;
    color: cadetblue;
}
#btn-contact:hover{
    background-color: cadetblue;
    color: #fff;
}
span{
    color: cadetblue;
}
.img-about-me img{
    width: 400px;
    height: 350px;
}
.bodyclass{

    display: flex;
    justify-content: space-evenly;
    /* padding-top: 90px; */
    text-align: center;
    background-color: #fff;

}
.img-about-me{
    margin: 20px;
    padding-top: 60px;
}
.about-me-text{
    margin: 40px;
   padding-bottom: 40px;
}
#about-me{
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px #000;
    color: cadetblue;
}
.interest-class{
    padding: 30px;
}
#hobbies{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 50px;
}
#ligne{
    width: 90px;
    justify-content: center;
    height: 2px;
    background-color: cadetblue;
    
}
.hobbies{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
#hobby1{
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
}
#hobby2{
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
}
#hobby3{
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
}
#hobby4{
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
}

#hobby1:hover{
    background-color: #fff;
    color: #000;
    box-sizing: 50px;
    transition: width 2s;
    width: 300px;
    border: 1px solid #000;  
}
#hobby2:hover{
    background-color: #fff;
    color: #000;
    box-sizing: 50px;
    transition: width 2s;
    width: 300px;
    border: 1px solid #000;  
}
#hobby3:hover{
    background-color: #fff;
    color: #000;
    box-sizing: 50px;
    transition: width 2s;
    width: 300px;
    border: 1px solid #000;  
}
#hobby4:hover{
    background-color: #fff;
    color: #000;
    box-sizing: 50px;
    transition: width 2s;
    width: 300px;
    border: 1px solid #000;  
}

.contact{
    text-align: center;
    margin: 25px;
    font-weight: lighter;
}
.contact h1{
    font-weight: lighter;
    text-transform: uppercase;
    padding: 30px;
}
.contact-flex{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.skill {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.skill img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.skill:hover {
    transform: translateX(10px); /* Apply a translateX transform on hover */
}


@media screen and (max-width: 600px) {
    body {
      color: blue;
      justify-content: center;
    }
    .mainclass {
        display: block;
        /* justify-content: space-evenly; */
        padding-top: 120px;
    }
    .main-paragraph{
            justify-content: center;
            display: flex;
            margin-bottom: 30px;

    }
    .hobbies{
     flex-direction: column;
     gap: 20px;
     align-items: center;
    }
    .btnclass{
        align-items: center;
        justify-content: center;
        display: table-row-group;
    }
    .logo-img{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;

    }

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin-left: -40px;
    }
    nav ul li{
        display:  block;
        margin: 40px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 17px;
        display: block;
    }
    a:hover , a.after{
      background: none;
      color:#0082e6;
    }

    #check:checked ~ ul{
       left:0;
    }
    
    
  }
  @media screen and (max-width: 952px) {
 
    .logo-img{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;
        display: block;

    }
    

  }
  @media screen and (max-width: 858px) {
 .navigation{
    position: absolute;
    left: 30px;
 }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin-left: -40px;
    }
    nav ul li{
        display:  block;
        margin:50px;
        line-height:30px;
    }
    nav ul a{
        font-size: 20px;
        display: block;
    }
    a:hover , a.after{
      background: none;
      color:#0082e6;
    }

    #check:checked ~ ul{
       left:0;
    }

    .logo-img{
        display: none;
    }
    label i{
        left: 0;
        /*margin-left: -300px;*/
        /* margin-left: -150px; */
    }

  }
 

 
 
  
  
  